VITE_AZURE_CLIENT_ID=<client-id-de-Pedidos360-Frontend>
VITE_AZURE_TENANT_ID=<tenant-id-de-Microsoft-Entra>
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_API_BASE_URL=https://o3k66b0owk.execute-api.us-east-1.amazonaws.com
VITE_API_SCOPE=api://<client-id-de-Pedidos360-API>/catalog.read api://<client-id-de-Pedidos360-API>/catalog.write api://<client-id-de-Pedidos360-API>/orders.read api://<client-id-de-Pedidos360-API>/orders.write